<p>
    <h3><a href="{{siteHost}}/admin/loginVerify?token={{token}}">点击登录</a></h3>
    如果以上链接无效, 请复制链接到浏览器打开:
    {{siteHost}}/admin/loginVerify?token={{token}}
</p>
<p>
  <strong>注: 链接5分钟内有效, 并且只对登录的浏览器有效.</strong>
</p>
<hr/>
{{siteName}}管理后台登录